* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}


:root {
--Green: hsl(75, 94%, 57%);
--White-100: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
--font-Inter: "Inter", "sans-serif"
}



body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--White-100); 
    font-family: var(--font-Inter);   
    font-size: 14px;
    background-color: var(--Grey-900);
    
}

.container {
    width: 328px;
    height: auto;
    background-color: var(--Grey-800);
    border-radius: 12px;
    
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    

}
img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 24px;
}
h2 {
    margin-bottom: 8px;
}

h3 {
    color: var(--Green);
    font-size: small;
    margin-bottom: 18px;
    
}
p{
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px gray;
    font-weight: 300;
    margin-bottom: 10px;
}

ul{
    width: 100%;
}
li{
    list-style: none;
    background-color: var(--Grey-700);
    padding: 14px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
li:not(:last-child){
    margin: 15px 0;
}
li:hover{
    background-color: var(--Green);
    color: var(--Grey-900);

}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}